/*!****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/styles/pageLayout.module.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************/
.pageLayout_main__f6vAD {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  height: 100%;
  width: 100%;
}

.pageLayout_slideElement__OrSC9 {
  position: absolute;  /* Position it off-screen initially */
  transition: transform 0.5s ease-out;
}

.pageLayout_slideIn__FTICu {
  transform: translateX(0);
}

.pageLayout_slideOut__sL0xC {
  transform: translateX(-100%);  /* Move it off-screen to the left */
}

