.main {
    width: 100vw;
    min-height: 100vh;
    height: 100%;
    background-color: #151515;
    background-image: url('/darkModeBg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;


    display: grid;
    grid-template-columns: [first] 100% [end];
    grid-template-rows: [first] 100px [second] 1fr [third] 100px [end]
}

.navbarContainer {
    grid-row-start: first;
    grid-row-end: second;
    grid-column-start: first;
    grid-column-end: end;
}

.footerContainer {
    grid-row-start: third;
    grid-row-end: end;
    grid-column-start: first;
    grid-column-end: end;
}

.childrenContainer {
    grid-row-start: second;
    grid-row-end: third;
    grid-column-start: first;
    grid-column-end: end;
}