/*!****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/styles/pageLayout.module.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************/
.pageLayout_main__f6vAD {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  height: 100%;
  width: 100%;
}

.pageLayout_slideElement__OrSC9 {
  position: absolute;  /* Position it off-screen initially */
  transition: transform 0.5s ease-out;
}

.pageLayout_slideIn__FTICu {
  transform: translateX(0);
}

.pageLayout_slideOut__sL0xC {
  transform: translateX(-100%);  /* Move it off-screen to the left */
}

/*!********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/styles/pagesSpecficStyles/aboutMe.module.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************/
.aboutMe_middleContentContainer__qeOws {
    width: 1000px;
    height: 600px;
    display: grid;
    overflow: hidden;

    grid-template-columns: [start] 40% [second] 60% [end];
    grid-template-rows: [start] 8% [second] 17% [third] 10% [fourth] 20% [fifth] 30% [end];
}


.aboutMe_profilePic__qJkzo {
    grid-column-start: start;
    grid-column-end: second;
    grid-row-start: start;
    grid-row-end: end;
    /* background-color: cyan; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height:100%;
    padding-right: 20px;
    z-index: 0;
}


.aboutMe_hiThere__wHosb {
    grid-column-start: second;
    grid-column-end: end;
    grid-row-start: start;
    grid-row-end: second;
    /* background-color: blue; */
    color: white;
    display: flex;
    justify-content: flex-start;
    font-family: "montserrat";
    opacity: 0.2;
    font-size: 20px;
    padding-top: 20px;

    width: 100%;
    height:100%;
}
.aboutMe_name__P_Y7C {
    grid-column-start: second;
    grid-column-end: end;
    grid-row-start: second;
    grid-row-end: third;
    /* background-color: green; */
    color: white;
    display: flex;
    justify-content: flex-start;
    font-family: "montserrat";
    opacity: 0.5;
    font-weight: bold;
    font-size: 50px;
    width: 100%;
    letter-spacing: 2px;
    height:100%;
}
.aboutMe_job__zDcDI {
    grid-column-start: second;
    grid-column-end: end;
    grid-row-start: third;
    grid-row-end: fourth;
    /* background-color: red; */
    justify-content: flex-start;
    position: relative;
    top: -30px;
    font-family: "montserrat";
    color: #FF4D4D;
    text-align: left;
    font-size: 28px;
    opacity: 0.4;
    font-weight: bold;
    width: 100%;
    height:100%;
}
.aboutMe_desc__fngKa {
    grid-column-start: second;
    grid-column-end: end;
    grid-row-start: fourth;
    grid-row-end: fifth;
    position: relative;
    top: -30px;
    /* background-color: purple; */
    text-align: left;
    justify-content: flex-start;
    font-family: "montserrat";
    opacity: 0.3;
    width: 100%;
    height:100%;
    padding-right: 70px;
}

.aboutMe_buttons__IHElW {
    grid-column-start: second;
    grid-column-end: end;
    grid-row-start: fifth;
    grid-row-end: end;
    /* background-color: white; */
    display: flex;
    justify-content: row;
    align-items: flex-start;
    padding-top: 20px;

    width: 100%;
    height:100%;
}

.aboutMe_cvButton__v0CXZ {
    width: 160px;
    height: 50px;
    background-color: #b93c3c;
    font-family: "montserrat";
    display: flex;
    justify-content: center;
    color: rgb(196, 196, 196);
    text-align: center;
    letter-spacing: 0.5px;
    align-items: center;
    cursor: pointer;
    transition: 0.5s;
}

.aboutMe_cvButton__v0CXZ:hover {
    background-color: #ff8282;
    color: white;
}

.aboutMe_cvButtonLightMode__GwReu {
    width: 160px;
    height: 50px;
    background-color: #ff8989;
    font-family: "montserrat";
    display: flex;
    justify-content: center;
    color: rgb(255, 255, 255);
    text-align: center;
    letter-spacing: 0.5px;
    align-items: center;
    cursor: pointer;
    transition: 0.5s;
}

.aboutMe_cvButtonLightMode__GwReu:hover {
    background-color: #ff4e4e;
    color: white;
}

.aboutMe_atButton__aH5Xi {
    width: 220px;
    height: 50px;
    background-color: transparent;
    border: 1px solid rgb(81, 81, 81);
    color: rgb(132, 132, 132);
    font-family: "montserrat";
    display: flex;
    justify-content: center;
    text-align: center;
    letter-spacing: 0.5px;
    align-items: center;
    cursor: pointer;
    transition: 0.5s;
}

.aboutMe_atButton__aH5Xi:hover {
    background-color: #e3e3e3;
    color: rgb(37, 36, 36);
}

.aboutMe_atButtonLightMode__3jbAy {
    width: 220px;
    height: 50px;
    background-color: transparent;
    border: 1px solid rgb(81, 81, 81);
    color: rgb(132, 132, 132);
    font-family: "montserrat";
    display: flex;
    justify-content: center;
    text-align: center;
    letter-spacing: 0.5px;
    align-items: center;
    cursor: pointer;
    transition: 0.5s;
}

.aboutMe_atButtonLightMode__3jbAy:hover {
    background-color: #3b3b3b;
    color: rgb(208, 208, 208);
}


/* mobile version grid */

.aboutMe_middleContentContainerMobile__NVtHV {
    width: 400px;
    height: 900px;
    display: grid;
    overflow: hidden;

    grid-template-columns: [start] 1fr [end];
    grid-template-rows: [start] 5% [second] 14% [third] 40% [fourth] 11% [fifth] 20% [sixth] 10% [end];
}



.aboutMe_hiThereMobile__xqOki {
    grid-column-start: start;
    grid-column-end: end;
    grid-row-start: start;
    grid-row-end: second;
    text-align: center;
    justify-content: center;
    /* background-color: blue; */
    color: white;
    display: flex;
    font-family: "montserrat";
    opacity: 0.2;
    font-size: 20px;
    padding-top: 20px;

    width: 100%;
    height:100%;
}
.aboutMe_nameMobile__uoI4e {
    grid-column-start: start;
    grid-column-end: end;
    grid-row-start: second;
    grid-row-end: third;
    /* background-color: green; */
    color: white;
    font-family: "montserrat";
    opacity: 0.5;
    font-weight: bold;
    font-size: 50px;
    width: 100%;
    letter-spacing: 2px;
    height:100%;
    display: flex;
    text-align: center;
    justify-content: center;
}

.aboutMe_profilePicMobile__1hYcS {
    grid-column-start: start;
    grid-column-end: end;
    grid-row-start: third;
    grid-row-end: fourth;
    /* background-color: cyan; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height:100%;
    padding-right: 20px;
    z-index: 0;
}

.aboutMe_jobMobile__Ia_Zq {
    grid-column-start: start;
    grid-column-end: end;
    grid-row-start: fourth;
    grid-row-end: fifth;
    /* background-color: red; */
    display: flex;
    text-align: center;
    justify-content: center;
    position: relative;
    /* top: -30px; */
    font-family: "montserrat";
    color: #FF4D4D;
    text-align: left;
    font-size: 28px;
    opacity: 0.4;
    font-weight: bold;
    width: 100%;
    height:100%;
}
.aboutMe_descMobile__Q0_jk {
    grid-column-start: start;
    grid-column-end: end;
    grid-row-start: fifth;
    grid-row-end: sixth;
    position: relative;
    top: -50px;
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 12px;
    font-family: "montserrat";
    float: right;
    opacity: 0.3;
    width: 100%;
    padding-left: 60px;
    padding-right: 60px;
    height:100%;
}

.aboutMe_buttonsMobile__SuH12 {
    grid-column-start: start;
    grid-column-end: end;
    grid-row-start: sixth;
    grid-row-end: end;
    /* background-color: white; */
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 15px;
    flex-direction: column;
    position: relative;
    top: -40px;

    width: 100%;
    height:100%;
}

.aboutMe_cvButtonMobile__bS1YO {
    width: 180px;
    height: 40px;
    background-color: #b93c3c;
    font-family: "montserrat";
    display: flex;
    justify-content: center;
    color: rgb(196, 196, 196);
    text-align: center;
    letter-spacing: 0.5px;
    align-items: center;
    cursor: pointer;
    transition: 0.5s;
    font-size: 12px;
}

.aboutMe_cvButtonMobile__bS1YO:hover {
    background-color: #ff6c6c;
    color: white;
}


.aboutMe_cvButtonMobileLightMode__jNwRm {
    width: 180px;
    height: 40px;
    background-color: #ff8989;
    font-family: "montserrat";
    display: flex;
    justify-content: center;
    color: rgb(255, 255, 255);
    text-align: center;
    letter-spacing: 0.5px;
    align-items: center;
    cursor: pointer;
    transition: 0.5s;
    font-size: 12px;
}

.aboutMe_cvButtonMobileLightMode__jNwRm:hover {
    background-color: #ff6c6c;
    color: white;
}

.aboutMe_atButtonMobile__dnqK6 {
    width: 160px;
    height: 40px;
    background-color: transparent;
    border: 1px solid rgb(81, 81, 81);
    color: rgb(132, 132, 132);
    font-family: "montserrat";
    display: flex;
    justify-content: center;
    text-align: center;
    letter-spacing: 0.5px;
    align-items: center;
    cursor: pointer;
    transition: 0.5s;
    font-size: 12px;
}

.aboutMe_atButtonMobile__dnqK6:hover {
    background-color: #e3e3e3;
    color: rgb(37, 36, 36);
}

.aboutMe_atButtonMobileLightMode__HNQNu {
    width: 160px;
    height: 40px;
    background-color: transparent;
    border: 1px solid rgb(81, 81, 81);
    color: rgb(132, 132, 132);
    font-family: "montserrat";
    display: flex;
    justify-content: center;
    text-align: center;
    letter-spacing: 0.5px;
    align-items: center;
    cursor: pointer;
    transition: 0.5s;
    font-size: 12px;
}

.aboutMe_atButtonMobileLightMode__HNQNu:hover {
    background-color: #3b3b3b;
    color: rgb(208, 208, 208);
}


